{% extends 'base.html' %}

{% block body_block %}
  <body  style="background-color: rgb(243, 243, 243,0.7);">
    <div class="container mt-3">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <h2 class="mb-3 text-primary">Contact Us</h2>

          <form method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="name" class="text-dark">Your Name:</label>
              <input name="name" type="text" class="form-control" id="name" placeholder="Enter your name" required>
            </div>
            <div class="form-group">
              <label for="email" class="text-dark">Your Email:</label>
              <input name="email" type="email" class="form-control" id="email" placeholder="Enter your email" required>
            </div>
            <div class="form-group">
              <label for="subject" class="text-dark">Subject:</label>
              <input name="subject" type="text" class="form-control" id="subject" placeholder="Enter the subject" required>
            </div>
            <div class="form-group">
              <label for="message" class="text-dark">Your Message:</label>
              <textarea name="message" class="form-control" id="message" rows="4" placeholder="Type your message" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </body>
{% endblock %}
