{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load bootstrap4 %}
{% block title_block %} {{ title }} {% endblock %}
{% block body_block %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h1 class="text-center">Payment Section</h1>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label>Payment Method:</label>
                                <input type="text" name="payment_method" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>Card Number:</label>
                                <input type="text" name="card_number" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>Expiry Date:</label>
                                <input type="text" name="expiry_date" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label>CVC:</label>
                                <input type="text" name="cvc" class="form-control" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Pay Now</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
